body{
    font-family: sans-serif;
    color:#111;
    background: radial-gradient(circle, #f0f0f0, #d72c2c);
    padding-left: 280px;
    
}
nav{
    position:fixed;
    inset: 0 auto 0 0;
    width: 250px;
    background: repeating-linear-gradient(45deg, #f06, );
    border-right: solid black 3px;
    
    display:grid;
    align-content: start;
    z-index: 5;
    background-image: url(redLines.png);
}
nav::before{
    content: "Blender NPR";
    font-family: serif;
    font-size: 28px;
    color: white;
    display:block;
    padding-bottom: 5%;
    border-bottom: solid black 5px;
}

nav ul{
    list-style-type: none;
    display:grid;
    gap: 6px;
    margin-top:5%;
    border-bottom: solid black 5px;
}

nav li{
    display:block;
    font-weight: bold;
    border:solid black 2px;
    padding: 4px 6px;
    background: #ffffff;
    box-shadow: #312d2d;
}

body > div{
    max-width: 1200px;
    margin:0 auto;
    padding: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

h1{
    align-self: left;
    font-family: sans-serif;
    background: rgb(82, 70, 70);
    padding: 22px 18px;
    border: solid black 3px;
    border-radius: 14px;
    position: relative;
    box-shadow: 0 6px 6px rgba(0,0,0,0.3);

    text-decoration: line-through;
    color:white;
    text-decoration-color: #f06;
}

h1::after{
    content:"";
    position:absolute;
    left:10%;
    right:10%;
    height:10px;
    bottom:10px;
    background: linear-gradient(90deg, red, gray);
    border-radius: 6px;
    box-shadow: 0 6px 6px rgba(196,0,0,0.3);
}

h2{
    font-family: sans-serif;
    background-image:none;
    color:white;
    background-color: #ff0000;
    opacity:0.95;
    border: 3px solid black;
    
    align-self:start;
    box-shadow: 0 6px 6px rgba(30, 29, 29, 0.3);
    display: inline;
}

img{
    display:inline-block;
    width:100%;
    height:auto;
}

p{
    color:#f06;
    background: linear-gradient(90deg, pink, rgb(250, 87, 87));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
       
    display: block;
    margin-left: 27%;
    align-items: start;
    width: 90%;
} 

.a{
    background-image: none;
    background-image: url(pinkDots.png);
}
h3{
    font-family: sans-serif;
    background-color: gray;
    background-image: none;
    color: white;
    opacity: 0.95;
    border: solid black 3px;
    display: inline-block;
    align-self:start;
    box-shadow: 0 6px 6px rgba(30, 29, 29, 0.3);
}

footer{
    background-image: url(curvePatternLighting.png);
    display:flex;
    font-size: 200%;
    padding-bottom: 15px;
    font-style: italic;
    color:aquamarine;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}